*.h5 filter=lfs diff=lfs merge=lfs -text
*.hdf5 filter=lfs diff=lfs merge=lfs -text

# git lfs migrate import --include="*.h5"   ==> to migrate files of old commits to lfs
# git lfs track                             ==> to see all files being tracked by lfs