<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <% include ./partials/header.ejs %>
</head>
<body>
    <div class="container py-4">
        <h2 class="display-4 text-light pb-4">Mood Disribution</h2>
        <img src="/analytics/fig2.png" alt="">
    </div>
    <div class="container py-4">
        <h2 class="display-4 text-light py-4">Engagement Analysis</h2>
        <img src="/analytics/fig1.png" class="pb-4" alt="">
    </div>
    <div class="container py-4">
        <h2 class="display-4 text-light py-4">Engagement Disribution</h2>
        <img src="/analytics/fig3.png" class="pb-4" alt="">
    </div>
    <div class="container py-4">
        <h2 class="display-4 text-light py-4">Anger</h2>
        <img src="/analytics/emofig0.png" class="pb-4" alt="">
    </div>
    <div class="container py-4">
        <h2 class="display-4 text-light py-4">Disgust</h2>
        <img src="/analytics/emofig1.png" class="pb-4" alt=""  >
    </div>
    <div class="container py-4">
        <h2 class="display-4 text-light py-4">Fear</h2>
        <img src="/analytics/emofig2.png" class="pb-4" alt=""  >
    </div>
    <div class="container py-4">
        <h2 class="display-4 text-light py-4">Happiness</h2>
        <img src="/analytics/emofig3.png" class="pb-4" alt=""  >
    </div>
    <div class="container py-4">
        <h2 class="display-4 text-light py-4">Sadness</h2>
        <img src="/analytics/emofig4.png" class="pb-4" alt=""  >
    </div>
    <div class="container py-4">
        <h2 class="display-4 text-light py-4">Suprise</h2>
        <img src="/analytics/emofig5.png" class="pb-4" alt=""  >
    </div>
    <div class="container py-4">
        <h2 class="display-4 text-light py-4">Neutral</h2>
        <img src="/analytics/emofig6.png" class="pb-4" alt=""  >
    </div>
    <div class="container py-4">
        <a href="/" class="text-light"><button type="button" class="btn btn-lg btn-success">Home Page</button></a>
    </div>  

</body>
</html>