<!DOCTYPE html>
<html>
<head>
    <title>Local Video</title>
    <% include ./partials/header.ejs %>

</head>
<body>
    <div class="container">
        <button onclick="playPause()">Play/Pause</button><br>
        <video id="video" width="560" height="315" controls>
            <source src="data/joker.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

        <div>
            <p>Here lies content =></p>
            <div id="content">                
                <img src="/loading.gif" height="40px">
                <p>Initializing</p>     
            </div>
            
            <p>Here lies content2 =></p>
            <div id="content2">
                <img src="/loading.gif" height="40px">
                <p>Initializing</p>     
            </div>
        </div>
    </div>
    <script src="js/localVideo.js"></script>
</body>
</html>