<!DOCTYPE html>
<html>
<head>
    <title>Video</title>
    <% include ./partials/header.ejs %>
</head>
<body>
    <div class="container">
        <button id="play-button">Play</button>
        <button id="pause-button">Pause</button>    
        <button id="toggle-button">Play/Pause</button>    
        <br>
        <iframe id="video" class="youtube-video" width="560" height="315" src=" <%= url%> " frameborder="0" allowfullscreen></iframe>

        <div>
            <p>Here lies content2 =></p>
            <div id="content2">
                <img src="/loading.gif" height="40px">
                <p>Initializing</p>          
            </div>
        </div>    
    </div>
    <script src="js/video.js"></script>
</body>
</html>