<!DOCTYPE html>
<html>
<head>
    <title>Video</title>
    <% include ./partials/header.ejs %>
</head>
<body>
    <div class="container">
        <div class="p-4">
            <iframe id="video" class="youtube-video" width="890" height="500" src=" <%= url%> " frameborder="0" allowfullscreen></iframe>
        </div>

        <div>
            <p>Here lies content =></p>
            <div id="content">
                <img src="/loading.gif" height="40px">
                <p>Initializing</p>          
            </div>
        </div>    
    </div>
    <script src="js/video.js"></script>
</body>
</html>